.contact-box {
    padding: 10vh 15vw 20vh 15vw;
    border: none;
}

.contact-box form {
    background-color: rgb(0, 0, 33);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px rgba(220, 220, 220, 0.655);
}

.input-container {
    border: none;
}

label {
    color: rgb(199, 193, 209);
}

.input-container label, .input-container input, .input-container textarea {
    width: 100%;
    margin: 5px;
}

.input-container input, .input-container textarea {
    background-color: rgba(255, 255, 255, 0.678);
    border: none;
    padding:2px;
}

#mainform-btn {
    margin-top: 3%;
    padding: 3px;
    border-radius: 3px;
    font-weight:600;
    font-family: 'Noto Sans Mayan Numerals', sans-serif;
    border: solid 2px rgba(255, 255, 255, 0.678);
    color: rgb(23, 4, 53);
}

#mainform-btn:hover {
    background-color: rgb(0, 0, 33);
    transition: 1s;
    color: white;
}