/* Boton del modal */
.nav-item span:hover{
    cursor:pointer;
}

.modal-title,
.modal-body{
    color: #ffffff;
}

.btn-primary{
    background-color: rgba(153, 153, 153, 0);
}

/* Boton busqueda y botón envial del modal*/
.btn-outline-success,
.btn-primary{
    --bs-btn-color: #77a807;
    --bs-btn-border-color: #77a807;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #77a807;
    --bs-btn-hover-border-color: #77a807;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #77a807;
    --bs-btn-active-border-color: #77a807;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #77a807;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #77a807;
    --bs-gradient: none;
}

.form-control:focus{
    border-color: #77a807;
    box-shadow: 0 0 0 0.15rem #77a807;
}

/* banner frontal */
.frontal-banner{
    transform: rotateX(0.5turn);
    width: 100%;
    height: 45vh;
    filter: grayscale(0.9);
    box-sizing: border-box;
}

/* Intro frontal */
.front-intro{
    margin: 0;
    padding: 5%;
    background-color: #0c0d0f;
    color: #a6aaae;
    text-align: justify;
}

.main-intro h1{
    color: #fcfdfd;
}

.main-intro h1, h2{
    text-align: center;
}

.main-intro h2{
    font-size: 1.3em;
    margin: 4% auto 7% auto;
}

.main-intro p{
    margin-top: 3%;
}

.main-intro p strong{
    color: #fcfdfd;
}

/* Seccion aprende mas */
.learn-more{
    background: linear-gradient(#0c0d0f,#08090a);
}

.learn-more h3{
    color: #fcfdfd;
    text-align: center;
}

.video-frame-intro{
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: 3% auto 0% auto;
    padding: 6% 10%;
}


/* footer */
footer {
    background-color: rgb(1, 1, 4);
    color: #948d86;
    padding: 10px;
}
.paperclips{
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}
footer span{
    line-height: 1.5em;
    font-size: 0.8em;
    justify-content: center;
    padding-bottom: 30px;

}

footer p{
    font-size: small;
    margin: 0%;
    text-align: center;

}